{% extends "bootstrap/base.html" %}

{% block title %}random stuff{% endblock %}

{% block content %}
<table class="table table-striped table-bordered table-hover table-condensed">
  <caption>Books</caption>
  <tr style="font-weight:bold">
    <td>ID</td>
    <td>Title</td>
    <td>Author</td>
    <td>Year of publication</td>
    <td>Country of publication</td>
  </tr>
  {%for element in books%}
  <tr>
		<td> {{ element.id }} </td>
		<td> {{ element.title }} </td>
		<td> {{ element.author }} </td>
    <td> {{ element.year }} </td>
    <td> {{ element.country }} </td>
	</tr>
	{%endfor%}
</table>	
<br>

<table class="table table-striped">
  <caption>Films</caption>
	{%for element in films%}
	<tr>
		<td> {{ element.id }} </td>
		<td> {{ element.title }} </td>
		<td> {{ element.year }} </td>
		<td> {{ element.genre }} </td>
	</tr>
	{%endfor%}
</table>
<br>

<table class="table table-striped">
  <caption>Concerts</caption>
	{%for element in concerts%}
	<tr>
		<td> {{ element.id }} </td>
		<td> {{ element.band }} </td>
    <td> {{ element.location }} </td>
    <td> {{ element.date }} </td>
    <td> {{ element.headliner }} </td>
	</tr>
	{%endfor%}
</table>

{% endblock %}

