{% extends "bootstrap/base.html" %}
{% block title %}form {% endblock %}

{% block content %}

<form method=post action="">
	{{ form.csrf_token }}
	<dl>
		<dt>Title:
			<dd> {{ form.title }} 
		<dt>Author:
    <dd> {{ form.author }}
    <dt>Year:
    <dd> {{ form.year }}
    <dt>Country:
    <dd> {{ form.country }}
  </dl>

  <p><input type=submit value="Register">

{% endblock %}
