<!doctype html>
<title>form</title>
<form method=post action="">
	{{ form.csrf_token }}
	<dl>
		<dt>Band:
			<dd> {{ form.band }} 
		<dt>Location:
    <dd> {{ form.location }}
    <dt>Date:
    <dd> {{ form.date }}
    <dt>Headliner:
    <dd> {{ form.headliner }}
  </dl>
  <p><input type=submit value="Register">
</form>
