<!doctype html>
<title>form</title>
<form method=post action="">
	{{ form.csrf_token }}
	<dl>
		<dt>Title:
			<dd> {{ form.title }} 
		<dt>Genre:
			<dd> {{ form.genre }}
		<dt>Year:
			<dd> {{ form.year }}
        </dl>
  <p><input type=submit value="Register">
</form>
