{% extends "bootstrap/base.html" %}

{% block title %}Traffic logs{% endblock %}

{% block content %}
<table class="table table-striped table-bordered table-hover table-condensed">
  <tr style="font-weight:bold">
 		<td> IP </td>
    <td> Country </td>
    <td> Time </td>
    <td> User agent </td>
    <td> Accessed URL </td>
 </tr>
  {%for element in logs%}
  <tr>
		<td> {{ element.ip }} </td>
    <td> {{ element.country }} </td>
    <td> {{ element.time }} </td>
    <td> {{ element.ua }} </td>
    <td> {{ element.url }} </td>
	</tr>
	{%endfor%}
</table>	

{% endblock %}

